.navbar{
    position: relative;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left 50%;
    padding-left: 36px;
    font-size: 20px;
    letter-spacing: -0.2px;
    font-weight: 600;
    min-height: 58px;
    padding-top: 19px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
}
.list {
    list-style-type: none;
}
.table {
    text-decoration: none;
    color: black;
}
.graph {
    text-decoration: none;
    color: black;
}
.graph1 {
    text-decoration: none;
    color: black;
}
ul {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    list-style-type: none;
}
li {
    margin-right: 30px;
}
table {
    width: 100%;
    border-collapse: collapse; /* Bordas unidas */
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid #ddd; /* Borda cinza clara */
    padding: 12px;
    text-align: left;
}
th {
    background-color: white;
    color: #333;
}
tr:hover {
    background-color: lightgray;
} /* Efeito de destaque */
    
    /* Input invisível para simular tabela editável */
    .input-cell {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        padding: 0;
        font-size: 14px;
    }

button {
    background-color: transparent;
    border: none;                  
    padding: 0;                    
    margin: 0;                                      
    font: inherit;                 
    color: inherit;                
    cursor: pointer;               
}

.teste {
    padding-top: 200px; /* Ajuste o valor do padding como necessário */
    
    border-radius: 5px; /* Bordas arredondadas para melhorar a aparência */
}

.ano-posterior{
    text-decoration: none;
    font-weight: normal;
    font: inherit;        
    color: inherit;
}